<h4>add todos</h4>
<form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="title" class="form-label">Todo Title</label>
      <input type="text" [(ngModel)]="title" class="form-control" name="title" id="title" aria-describedby="emailHelp">
     
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Description</label>
      <input type="text" class="form-control" name="title" [(ngModel)]="desc" id="desc">
    </div>
    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
  </form>
